vaadin-button.fast {
  	background-color: green;
    color: white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    text-align: center;
}

vaadin-button.slow {
  	background-color: red;
    color: white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    text-align: center;
}

vaadin-button.no_info {
	background-color: blue;
    color: white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    text-align: center;
}

vaadin-vertical-layout.boxes {
    background-color: lightgrey;
}